.header {
  background: var(--ion-color-light);

  &__toolbar {
    --background: url('/assets/imgs/header.png') no-repeat center center/cover;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    &.wrapper {
      ion-item,
      ion-toolbar.srchBar {
        --background: transparent;
      }
    }
  }

  &__location {
    margin: 3.5vh 0;

      ion-icon {
        margin-right: 3px;
      }

      &-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      &-city {
        margin-top: 3px;
        font-size: 1.8rem;
        color: #fff;
        font-weight: bold;
      }
    
  }

  &__notification-button {
    --background: #fff;
    ion-badge {
      color: var(--ion-color-primary);
      position: absolute;
        top: 0;
        right: 0;
        margin-top: 0.45rem;
        margin-right: 0.45rem;
        font-size: 0.1rem;
        padding: 0.25rem !important;
        border-radius: 50px;
    }
  }

  &__search-bar {
    ion-row {
      background: #fff;
      border-radius: 25px;
      margin: 5px 5px 8px 5px;

      ion-col {
        padding: 0;
      }
    }

    ion-fab-button {
      --box-shadow: none;

      ion-icon {
        font-size: 1.3rem;
      }
    }

    ion-searchbar {
      padding: 0;
      --border-radius: 25px;
      --background: #fff;
    }
  }
}


ion-content {
.upcoming-events {
  background: transparent;

  &__header {
    font-size: 1.3rem;
  }

  &__card {
    border-radius: 25px;
    height: 8rem;
    align-content: center;
    margin: 15px 5px;
  }


  &__thumbnail {
    width: 5.5rem;
    height: 7rem;

    ion-img {
      --border-radius: 25px;
    }
  }



  &__date {
    font-size: 0.8rem;
    color: gray;
  }

  &__title {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__location {
    font-size: 0.85rem;
    margin-top: 10px;

    ion-icon {
      margin-right: 3px;
    }
  }
}

.top-picks {

  &__divider-icon {
    margin-left: 5px;
    height: 1rem;
    width: 1rem;
  }

  &__button {
    text-decoration: underline;
  }

  &__card {
    height: 4rem;
    align-content: center;
    margin: 10px 5px 5px 5px;
  }

  &__avatar {
    background: rgba(232, 31, 145, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

    ion-img {
      height: 1.3rem;
      width: 1.3rem;
    }
  }

  &__label {
    font-size: 0.8rem;
    font-weight: 550;
  }
}

.event-card {
  height: 15rem;
  margin: 15px 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-content: end;

  &__item {
    border-radius: 25px;
    --background: rgba(47, 47, 47, 0.05);
    backdrop-filter: blur(8px);
    margin: 5px 5px 10px 5px;
  }

  &__label {
    color: #fff;

    &__title {
      margin-top: 5px;
      font-size: 1rem;
      font-weight: bold;
   
    }
  }

  &__button {
    --background: rgba(111, 105, 105, 0.254);
  }

  &__icon {
    font-size: 1.3rem;
  }
}

}